<div id="btn">
    <div id ="search">
        <form id="searchForm" action="/character_anime_works" method="GET" style="display: inline-block; margin-bottom: 10px;">
            <input type="text" id="searchInput" name="search" autocomplete="on" placeholder="Search nicknames...">

            <!--    <div id="autocomplete-list" class="autocomplete-items"></div>-->
            <button id ="submitbtn" type="submit" class="search-btn">Search</button>
        </form>

    </div>

    <!--    <div id="autocomplete-list" class="autocomplete-items"></div>-->
    <div id="pages">
        {{#if (gt currentPage 1)}}
            <a class="pagination-btn" href="/character_nicknames?page={{subtract currentPage 1}}">Previous</a>
        {{/if}}

        <span class="page-info">Page {{currentPage}} of {{totalPages}}</span>

        {{#if (lt currentPage totalPages)}}
            <a class="pagination-btn" href="/character_nicknames?page={{add currentPage 1}}">Next</a>
        {{/if}}
    </div>


</div>


{{#each results}}
    <!--    <a href="/character/{{character_mal_id}}" style="text-decoration: none; color: inherit;">-->
    <div style="padding: 10px; border: 1px solid #e38a8a; margin-bottom: 10px;">

        <p>Anime ID: {{ character_mal_id}}</p>

        <p>Nickname: {{nickname}}</p>

    </div>
    <!--    </a>-->
{{/each}}


